@page "/fetchdata"
@using TheMovieList.Services
@using TheMovieList.Models
@inject MovieListService Service

<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Movie> movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await Service.GetMoviesAsync();
    }
}
